@charset "UTF-8";
/* _variables.scss */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR&display=swap');  // Noto Sans CJK KR - google web font
$G-max-width: 1200px;
$G-color-main: #FF0040;
$G-font-family-ko: 'Noto Sans KR';
$G-font-weight-bold: 600;
$G-font-weight-medium: 500;
$G-font-weight-regular: 400;
$G-font-weight-light: 300;
$G-font-color-light: #666;
$G-font-color-normal: #444;
$G-font-color-dark: #222;
$G-font-size-large: 16px;
$G-font-size-normal: 14px;
$G-font-size-small: 12px;