/* _reset.scss */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR&display=swap");
html, head, body, h1, h2, h3, h4, h5, h6, div, header, hgroup, menu, section, article, summary, footer, main, nav, aside, canvas, details, figcaption, figure, video, img, a, i, b, em, strong, ul, ol, li, p, a, button, table { box-sizing: border-box; padding: 0; margin: 0; border: none; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

button { border: none; background: #fff; cursor: pointer; }

a { color: inherit; text-decoration: none; cursor: pointer; }
a:focus, a:hover { text-decoration: underline; }

ul { list-style: none; }

table { border-collapse: collapse; }

/* _variables.scss */
/* _mixins.scss */
body, button, a, p, pre { font-family: "Noto Sans KR"; }

html { overflow-x: hidden; }

body { overflow-x: hidden; padding-bottom: 50px; }

section.section { margin: 20px 0; padding: 20px 0; background: #f4f4f4; }
section.section:first-child { margin-top: 0; }

h1.tit-section { margin: 0 20px 10px; }

/* accordion */
.ej-acco { margin: 10px 0; }
.ej-acco .acco-list { background: #fff; border-bottom: 1px solid #ddd; }
.ej-acco .acco-list:first-child { border-top: 1px solid #ddd; }
.ej-acco .acco-list.active .acco-title:before { top: 28px; transform: rotate(45deg); transform-origin: right top; }
.ej-acco .acco-list.active .acco-title:after { top: 28px; transform: rotate(-45deg); transform-origin: left top; }
.ej-acco .acco-list.active .acco-inner { display: block !important; }
.ej-acco .acco-list .acco-title { position: relative; padding: 15px 20px; font-size: 14px; color: #222; cursor: pointer; }
.ej-acco .acco-list .acco-title:before, .ej-acco .acco-list .acco-title:after { position: absolute; top: 19px; display: block; width: 12px; height: 1px; background: #000; transition: all .2s ease-in; content: ""; }
.ej-acco .acco-list .acco-title:before { right: 37px; transform: rotate(-45deg); transform-origin: right top; }
.ej-acco .acco-list .acco-title:after { right: 25px; transform: rotate(45deg); transform-origin: left top; }
.ej-acco .acco-list .acco-inner { display: none; padding: 15px 20px; background: #f5f5f5; border-top: 1px solid #dedede; font-size: 13px; color: #444; overflow: hidden; }

/* sorting list */
.ej-sort-wrap { margin-top: 20px; }

.ej-sort-list { background: #fff; }
.ej-sort-list .sort-item { position: relative; display: table; width: 100%; padding: 25px 20px; border-bottom: 1px solid #ddd; text-align: center; font-weight: 600; font-size: 16px; color: #444; background: #fff; }
.ej-sort-list .sort-item:first-child { border-top: 1px solid #ddd; }
.ej-sort-list .sort-item.moving { z-index: 2; border-top: 1px solid #ddd; opacity: .8; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.ej-sort-list .sort-item.no-num .sort-num { display: none; }
.ej-sort-list .sort-item > span, .ej-sort-list .sort-item > div { display: table-cell; vertical-align: middle; font-weight: 400; }
.ej-sort-list .sort-item .sort-title { font-size: 14px; text-align: left; }
.ej-sort-list .sort-item .sort-num { width: 25px; text-align: left; font-size: 16px; }
.ej-sort-list .sort-item .sort-name { line-height: 1.4; }
.ej-sort-list .sort-item .sort-inner { color: #666; }
.ej-sort-list .sort-item .txt-label { padding: 0 3px 2px; background: #ce2b2b; font-size: 12px; color: #fff; }
.ej-sort-list .sort-item .sort-btn-wrap { width: 40px; text-align: right; }
.ej-sort-list .sort-item .btn-sort { display: block; text-indent: -9999px; color: transparent; font-size: xx-small; overflow: hidden; top: auto !important; width: 25px; height: 25px; background: url("/resources/image/ico-arrow-sort.png") center no-repeat; background-size: auto 20px; }
.ej-sort-listul .sort-item { padding-left: 45px; }
.ej-sort-listul .sort-item:before { position: absolute; top: 0; left: 20px; bottom: 0; display: block; width: 4px; height: 4px; border-radius: 50%; margin: auto; background: #999; content: ""; }
.ej-sort-list.disabled .sort-item { color: #aaa; }
.ej-sort-list.disabled .sort-item .sort-inner { color: #aaa; }
.ej-sort-list + .ej-sort-list { margin-top: 20px; }

.ej-sortable-placeholder + .ej-sortable-handle { transition: all .5s linear; }
.ej-sortable-placeholder + .sort-item { border-top: 1px solid #ddd; }

.sort-item.moving { transition: none; }

/* slide */
.ej-slide-wrap { width: 100%; height: auto; text-align: center; }
.ej-slide-wrap .ej-slide { display: block; width: auto; height: auto; margin: 0 auto; overflow: hidden; }
.ej-slide-wrap .ej-slide > ul { position: relative; }
.ej-slide-wrap .ej-slide > ul:after { display: block; clear: both; content: ""; }
.ej-slide-wrap .ej-slide .ej-slide-page { position: absolute; top: 0; left: 0; display: none; }
.ej-slide-wrap .ej-slide .ej-slide-page.active { display: block; }
.ej-slide-wrap .slide-nav { display: inline-block; margin: 0 auto; }
.ej-slide-wrap .slide-nav .btn-paging { display: inline-block; text-indent: -9999px; color: transparent; font-size: xx-small; overflow: hidden; width: 10px; height: 10px; margin: 0 5px; background: blue; border-radius: 50%; }
.ej-slide-wrap .slide-nav .btn-paging.active { background: red; }
.ej-slide-wrap .slide-btn-wrap .btn-slide { padding: 5px 10px; background: #222; color: #fff; border-radius: 4px; }

.ui_calendar { position: relative; display: block; width: 500px; margin: 50px auto; background: #fff; padding: 50px; box-shadow: 2px 2px 20px rgba(100, 100, 100, 0.2); }
.ui_calendar .ui_calendar_btns { z-index: 1; position: absolute; top: 35px; left: 0; width: 100%; padding: 50px; }
.ui_calendar .ui_calendar_btns .btn_next_m, .ui_calendar .ui_calendar_btns .btn_prev_m { display: block; text-indent: -9999px; color: transparent; font-size: xx-small; overflow: hidden; width: 30px; height: 30px; border-radius: 50%; background: #fff; transition: background ease-in .2s; }
.ui_calendar .ui_calendar_btns .btn_next_m:hover, .ui_calendar .ui_calendar_btns .btn_prev_m:hover { background: #f8f8f8; }
.ui_calendar .ui_calendar_btns .btn_next_m:active, .ui_calendar .ui_calendar_btns .btn_prev_m:active { transition: none; background: #e9e9e9; }
.ui_calendar .ui_calendar_btns .btn_next_m:before, .ui_calendar .ui_calendar_btns .btn_prev_m:before { position: relative; display: block; width: 20px; height: 20px; margin: 5px auto; border-left: 1px solid #bbb; border-top: 1px solid #bbb; content: ""; }
.ui_calendar .ui_calendar_btns .btn_next_m.disabled, .ui_calendar .ui_calendar_btns .btn_prev_m.disabled { cursor: not-allowed; background: #fff; }
.ui_calendar .ui_calendar_btns .btn_next_m.disabled:before, .ui_calendar .ui_calendar_btns .btn_prev_m.disabled:before { border-color: #e5e5e5; }
.ui_calendar .ui_calendar_btns .btn_prev_m { float: left; }
.ui_calendar .ui_calendar_btns .btn_prev_m:before { left: 5px; transform: rotate(-45deg); }
.ui_calendar .ui_calendar_btns .btn_next_m { float: right; }
.ui_calendar .ui_calendar_btns .btn_next_m:before { right: 5px; transform: rotate(135deg); }
.ui_calendar .ui_calendar_info { position: relative; margin-bottom: 30px; text-align: center; line-height: 25px; }
.ui_calendar .ui_calendar_info .ui_calendar_year { display: block; font-size: 18px; font-weight: 600; color: #000; }
.ui_calendar .ui_calendar_info .ui_calendar_month { display: inline-block; padding: 10px; margin-top: 2px; font-size: 30px; font-weight: 600; }
.ui_calendar .ui_calendar_tbl { width: 100%; }
.ui_calendar .ui_calendar_tbl td, .ui_calendar .ui_calendar_tbl th { text-align: center; }
.ui_calendar .ui_calendar_tbl thead th { padding-bottom: 12px; border-bottom: 1px solid #efefef; font-size: 16px; font-weight: 400; color: #222; }
.ui_calendar .ui_calendar_tbl .th_day0, .ui_calendar .ui_calendar_tbl .day_sun { color: #ff3b31; }
.ui_calendar .ui_calendar_tbl .th_day6, .ui_calendar .ui_calendar_tbl .day_sat { color: #094cc9; }
.ui_calendar .ui_calendar_tbl tbody td { padding-top: 10px; }
.ui_calendar .ui_calendar_tbl tbody td button { width: 30px; height: 30px; border-radius: 50%; font-size: 16px; font-weight: 300; color: #444; transition: background ease-in .2s; outline: none; }
.ui_calendar .ui_calendar_tbl tbody td button.disabled { color: #ccc; background: #f9f9f9; cursor: not-allowed; }
.ui_calendar .ui_calendar_tbl tbody td button.disabled:active { background: #f9f9f9; }
.ui_calendar .ui_calendar_tbl tbody td button:hover, .ui_calendar .ui_calendar_tbl tbody td button:focus { background: #f8f8f8; }
.ui_calendar .ui_calendar_tbl tbody td button:active { transition: none; background: #e9e9e9; }
.ui_calendar .ui_calendar_tbl .today { background: #ff3b31; color: #fff !important; }
.ui_calendar .ui_calendar_tbl .today.disabled { background: #ff736c; }
.ui_calendar .ui_calendar_tbl .today.disabled:hover, .ui_calendar .ui_calendar_tbl .today.disabled:focus { background: #ff736c; }
.ui_calendar .ui_calendar_tbl .today:hover, .ui_calendar .ui_calendar_tbl .today:focus { background: #d8281e; }
.ui_calendar .ui_calendar_tbl .today:active { background: #c01910; }
