html, head, body, h1, h2, h3, h4, h5, h6, div, header, hgroup, menu, section, article, summary, footer, main, nav, aside, canvas, details, figcaption, figure, video, img, a, i, b, em, strong, ul, ol, li, p, a, button, table { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; border: none; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

button { border: none; background: #fff; }

a { color: inherit; }

ul { list-style: none; }

table { border-collapse: collapse; }
